/* Estilo global */
* {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo do tamanho */
}

/* Logo Alura */
.imagem {
    display: block; /* Altera para block para controlar melhor o alinhamento */
    margin: 0 0 0 150px;
}

/* Estilo para os inputs de texto e textareas */
input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho */
    padding: 10px; /* Ajuste conforme necessário */
    border: 1px solid #ccc; /* Borda opcional */
    font-size: 16px; /* Ajuste conforme necessário */
    resize: none; /* Desabilita o redimensionamento */
    overflow: auto; /* Adiciona rolagem se necessário */
    white-space: pre-wrap; /* Mantém espaços e quebras de linha */
}

/* Container da tela */
.tabelaecontainer {
    margin: 0 0 0 50px;
    max-width: 1100px;
}

/* Container das tabelas */
.tables-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adiciona espaço entre os containers */
}

/* Container da tabela, à esquerda */
.left-container {
    flex: 1;
    
}

/* Container da tabela, à direita */
.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinha a tabela à direita */
    
}

/* Container dos botões */
.divdobotoes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
}

/* Botões: Criptografar, Descriptografar, copiar, limpar e Colar*/
.btn-criptografar,
.btn-descriptografar,
.btn-copy,
.btn-clear,
.btn-paste {
    padding: 5px 20px 5px 20px;
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 19px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave */
    display: flex;
    color:#ffffff;
}

/* Apenas o botão Criptografar */
.btn-criptografar {
    background-color: #0A3871; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto */
}

/* Apenas o botão Descriptografar */
.btn-descriptografar {
    background-color: #a8a8a8; /* Cor diferente para o segundo botão */
    border: 3px solid #0A3871;
    color: #0A3871;
}

/* Transição para os botões ao passar o mouse */
.btn-criptografar:hover,
.btn-descriptografar:hover,
.btn-copy:hover,
.btn-clear:hover,
.btn-paste:hover {
    background-color: #000000; /* Cor ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    border:none;
}

/* Apenas o botão Copiar Texto */
.btn-copy {
    background-color: #4CAF50;
}

/*Apenas o botão Limpar texto*/
.btn-clear {
    background-color: #e0274f;
}

/*Apenas o botão Colar texto*/
.btn-paste {
    background-color: aqua;
}

/* Tabela 1 */
.table-container1 textarea {
    height: 400px;
    width: 600px;
    background-color: #f5f5f5; /* Cor de fundo para combinar com o resto da página */
    color: #0A3871;
    font-size: 38px;
    outline: none;
    box-shadow: none;
    border:none;
}

/* Tabela 2 */
.table-container2 textarea {
    height: 500px;
    width: 350px;
    background-color: #ffffff; /* Cor de fundo para combinar com o restante da tabela 2 */
    color: orange;
    font-size: 38px;
    outline: none;
    box-shadow: none;
    border-radius: 19px;
    white-space: pre-wrap; /* Permite a quebra de linha */
    overflow-wrap: break-word; /* Quebra de linha para palavras longas */
    border: none;
}

/* Legenda */
.alert-icon {
    display: flex; /* Alinha o ícone e a legenda horizontalmente */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-top: 10px; /* Adiciona uma margem superior */
}

.icon {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaço entre o ícone e a legenda */
    
}

.legend {
    font-size: 14px; /* Tamanho da fonte da legenda */
    color: #495057; /* Cor do texto da legenda */
}
